.main {
    background-color: #f1f1f1;
    padding: 1rem 0;
    border-radius: 1rem;
    height: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
    border-radius: .5rem;
}

.link:hover {
    background-color: #f1f1f1;
    box-shadow: var(--box-shadow);
}

.listEmails {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    overflow: auto;
    gap: .5rem;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e8e7e7;
}

::-webkit-scrollbar-thumb {
    background: #00a389;
}

.divExternalInput .layout {
    height: 100%;
    padding: 1rem;
}

.divSearch {
    width: 100%;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #DEE1E6;
}

.layout {
    height: 100vh;
    padding-top: 1rem;
}

.active {
    background-color: white;
    box-shadow: var(--box-shadow);
}

.active:hover {
    background-color: white;
    box-shadow: var(--box-shadow);
}